*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header .container{
    display: flex;
   
}
.container{
    display: block;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
  justify-content: space-between;
    align-items: center;
}
header{
    padding: 16px 0;
    
}
header .main-nav ul{
    list-style: none;
    display: flex;
}
header .main-nav ul li{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
header a{
    text-decoration: none;
    color: black;
}

header a img {
    width: 100%;
}

header{
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 70px;
}

main .image{
    background: #eeeff1 center no-repeat;
  background-size: cover;
  background-image: url(images/Group\ 5.jpg);
  
  
   
  padding-top:56.25%;
  max-width: 100%;
}
.content{
    text-align: center;
    padding-top: 80px;
}
@media(min-width: 1600px){
    .container{max-width: 1440px;

    }
}