*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header .container{
    display: flex;
   
}
.container{
    display: block;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
  justify-content: space-between;
    align-items: center;
}
header{
    padding: 16px 0;
    
}
header .main-nav ul{
    list-style: none;
    display: flex;
}
header .main-nav ul li{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
header a{
    text-decoration: none;
    color: black;
}

header a img {
    width: 100%;
}

header{
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}
nav.main-nav{display: none;}

main .image-1{
    background: #eeeff1 center no-repeat;
  background-size: cover;
  background-image: url(images/Group\ 9.jpg);
  padding-top:56.25%;
  max-width: 100%;
  display: block;
}
.content{
    text-align: center;
    padding-top: 80px;
}
.sanpham{
    display: grid;
    grid-template: auto / repeat(4 , 1fr);
    grid-gap:30px
}
.item a{
    text-decoration: none;
    color: black;
}
.item .image{
    padding-top:100% ;
    border-radius: 12px;
    background: #f4f4f4 no-repeat center;
    background-size: cover;
}
.item-prd .image-prd{
    padding-top:100% ;
    border-radius: 12px;
    background: #f4f4f4 no-repeat center;
    background-size: cover;

}
.grid{
    display: grid;
    grid-template: auto / repeat(2 , 1fr);
    grid-gap:50px
}
.name{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 8px;
    font-weight: 600;
}

.thir{
    margin-top: 200px;
}
footer a{
    text-decoration: none;
    color: white;
}
.grid-1{
    display: grid;
    grid-template:auto /repeat(3, 1fr) ;
    gap: 30px;
}
.color-gray{
    color: rgb(170, 170, 170);
}
.info p{
    padding-bottom:20px ;
}
.cs p{
    padding-bottom:20px ;
}
/* pruduct-detail*/

 

.item-prd{
    display: grid;
    grid-template: auto / repeat(2 , 1fr);
    grid-gap:40px;
    max-width: 70%;
}

.prd-img{

    padding-top:    100%;

    border-radius: 12px;
    background: #f4f4f4 no-repeat center;
    background-size: cover;

}
.prd-name{
    
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
    
    
}
.prd-price{
    font-size: 15px;
    padding-bottom: 20px;
    font-size: 20px;
}
.product-detail button{
    background-color: white;
    border: 1px solid white;
    width: 30px; 
    margin-bottom: 50px;
    cursor: pointer;
    font-size: 25px;
    color: gray;
}
.product-detail .buy{
   
    
    background-color:rgb(43, 137, 243) ;
    color: white;
    font-size: 35px;
    font-weight: 600;
    border-radius: 10px;
    width: 230px;
    padding: 15px 0;
}
/*productttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt*/
.main-prd{
    display: grid;
    grid-template:auto /repeat(2, 20% 80%) ;
    gap: 30px;
}
.prd-page{
    display: grid;
    grid-template:auto /repeat(3, 1fr) ;
    gap: 40px;
}
/*cartttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt*/

.cart{
    display: grid;
    grid-template: auto / repeat(2, 1fr) ;
    gap:10px;
}
.cart-dom{
    display: grid;
    grid-template: auto / repeat(3, 1fr) ;
    gap:10px;
    padding: 20px;
    background-color: #f4f4f4;
    max-width: 50%;
    
}
.cart-img{
    padding-top:    100%;
    background: #f44f4f no-repeat center;
    background-size: cover;
    border-radius: 6px;
    
}
.cart-name{
    font-size: 20px;
    padding-bottom: 15px;

}
.cart-dom .nav-quantity ul{
    list-style: none;
    display: flex;
    border: 1px solid gray;
    
    background-color: white;
    max-width: ;
}
.cart-dom .nav-quantity li{
    border-left: 1px solid gray;
}
.cart-dom .nav-quantity ul .tru{
    background-color: white;
    border: none;
    font-size: 20px;
    padding: 5px;
}
.cart-dom .nav-quantity ul .cong{
    background-color: white;
    border: none;
    font-size: 20px;
    padding: 5px;
}
.cart-dom .nav-quantity ul li span{
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
@media(min-width: 768px){
    .container{
        max-width: 500px;
    }
    header .main-nav{
        display: block;
    }
    main .image-1{
        background-image: url(images/Group\ 5.jpg);
    }
}
@media(min-width:769px){
    .container{
        max-width:85% ;
    }
    
   
}
