*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header .container{
    display: flex;
   
}
.container{
    display: block;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
  justify-content: space-between;
    align-items: center;
}
header{
    padding: 16px 0;
    
}
header .main-nav ul{
    list-style: none;
    display: flex;
}
header .main-nav ul li{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
header a{
    text-decoration: none;
    color: black;
}

header a img {
    width: 100%;
}

header{
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}
nav.main-nav{display: none;}

main .image-1{
    background: #eeeff1 center no-repeat;
  background-size: cover;
  background-image: url(images/Group\ 9.jpg);
  padding-top:56.25%;
  max-width: 100%;
  display: block;
}
.content{
    text-align: center;
    padding-top: 80px;
}
.sanpham{
    display: grid;
    grid-template: auto / repeat(4 , 1fr);
    grid-gap:30px
}
.item a{
    text-decoration: none;
    color: black;
}
.item .image{
    padding-top:100% ;
    border-radius: 12px;
    background: #f4f4f4 no-repeat center;
    background-size: cover;
}
.item-prd .image-prd{
    padding-top:100% ;
    border-radius: 12px;
    background: #f4f4f4 no-repeat center;
    background-size: cover;

}
.grid{
    display: grid;
    grid-template: auto / repeat(2 , 1fr);
    grid-gap:50px
}
.name{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 8px;
    font-weight: 600;
}

.thir{
    margin-top: 200px;
}
footer a{
    text-decoration: none;
    color: white;
}
.grid-1{
    display: grid;
    grid-template:auto /repeat(3, 1fr) ;
    gap: 30px;
}
.color-gray{
    color: rgb(170, 170, 170);
}
.info p{
    padding-bottom:20px ;
}
.cs p{
    padding-bottom:20px ;
}
/* pruduct-detail*/
.product-detail .prd-g{
    display: grid;
    grid-template: auto / repeat(2 , 70% 30%);
    grid-gap:30px
}
.item-prd{
    display: grid;
    grid-template: auto / repeat(2 , 1fr);
    grid-gap:60px
}

.prd-img{

    padding-top:    100%;

    border-radius: 12px;
    background: #f4f4f4 no-repeat center;
    background-size: cover;

}
.prd-name{
    margin-top: 50%;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 20px;
    margin-top: 50%;
    color: rgb(43, 137, 243);
}
.prd-price{
    font-size: 15px;
    padding-bottom: 20px;
}
.product-detail button{
    background-color: white;
    border: 1px solid gray;
    width: 30px; 
    margin-bottom: 50px;

}
.buy{
   
    width: 300px;
    height: 50px;
    background-color:rgb(43, 137, 243) ;
    color: white;
    font-size: 35px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    margin: auto 0;
}
/*productttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt*/
.main-prd{
    display: grid;
    grid-template:auto /repeat(2, 20% 80%) ;
    gap: 30px;
}
.prd-page{
    display: grid;
    grid-template:auto /repeat(3, 1fr) ;
    gap: 20px;
}

/*tăng giảm số lượng*/

.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:2.2rem;
    width:1.9rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
}
.input-qty {
    background-color:#fff;
    height:2.2rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}

@media(min-width: 768px){
    .container{
        max-width: 500px;
    }
    header .main-nav{
        display: block;
    }
    main .image-1{
        background-image: url(images/Group\ 5.jpg);
    }
}
@media(min-width:769px){
    .container{
        max-width:85% ;
    }
    
   
}
